@model List<Products>

@{
    ViewBag.Title = "Inventario";
}

<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Administración</p>
                    <h1>Inventario</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Tabla de productos -->

<div class="product-section mt-150 mb-150">
    <div class="container-fluid">
        <div class="dt-responsive table-responsive">
            <table id="footer-search" class="table table-striped table-bordered nowrap">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Categoria</th>
                        <th>Imagen</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                          <tr>
                            <td>@item.ProductId</td>
                            <td>@item.Name</td>
                            <td>@item.Price</td>
                            <td>@item.Category</td>
                            <td><img src="~/img/productos/cepillo-doble.jpg" alt="" width="100"></td>
                            <td style="text-align:center">
                                <input type="button" value="Editar" class="btn btn-primary"
                                       onclick="location.href='@Url.Action("EditarProducto", "Inventario")'">
                                       <input type="button" value="Eliminar" class="btn btn-danger"
                                       onclick="location.href='@Url.Action("EliminarProducto", "Inventario")'">
                            </td>
                          </tr>
                    }
                </tbody>
               @* <tfoot>
                    <tr>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Lista Precio</th>
                        <th>Precio</th>
                        <th>Categoria</th>
                        <th>Imagen</th>
                        <th>Acciones</th>
                    </tr>
                </tfoot>*@
            </table>
        </div>
    </div>
</div>
