
@model ShoppingCart


@{
    ViewBag.Title = "Carrito";
}
<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Ya casi finalizas</p>
                    <h1>Carrito</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->
<!-- cart -->
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger">
        <div class="product-section mt-150 mb-150">
            <div class="container-fluid">
                <div class="dt-responsive table-responsive">
                    <fieldset>
                        <legend class="col-md-12 text-center font-weight-bolder">
                            Carritp
                        </legend><hr /><br />
                        <h5 class="col-md-12 text-center">Acontinuacion los productos agregados al carrito</h5><br />
                        <hr />

                        <!---------------------------------Id Carrito------------------------------------------>
                        <div class="form-group col-md-5">
                            <label asp-for="Id" class="form-text"></label>
                            <small id="ayudaSaludo" class="form-text text-muted">
                                Carrito
                            </small>

                        </div>

                        <!----------------------------------Cliente-------------------------------------------->
                        <div class="form-group col-md-5">
                            <label asp-for="Id" class="form-text"></label>
                            <small id="ayudaSaludo" class="form-text text-muted">
                                Cliente
                            </small>

                        </div>
                        <!----------------------------------Producto-------------------------------------------->
                        <div class="form-group col-md-5">
                            <label asp-for="Product" class="form-text"></label>
                            <small id="ayudaSaludo" class="form-text text-muted">
                                Producto
                            </small>

                        </div>
                        <!----------------------------------Cantidad------------------------------------------->
                        <div class="form-group col-md-5">
                            <label asp-for="Count" class="form-text"></label>
                            <small id="ayudaSaludo" class="form-text text-muted">
                                Cantidad
                            </small>

                        </div>
                        <!----------------------------------Subtotal------------------------------------------->
                        <div class="form-group col-md-5">
                            <label asp-for="Subtotal" class="form-text"></label>
                            <small id="ayudaSaludo" class="form-text text-muted">
                                Subtotal
                            </small>

                        </div>

                        <!----------------------------------Botones-------------------------------------------->

                        <div class="form-row">
                            <div class="form-group col-md-12 text-right">
                                <button type="button" class="btn btn-outline-danger"
                                        onclick="Cancelar();">
                                    <i class="fa-solid fa-circle-xmark"></i> Cancelar
                                </button>

                                <button type="submit" class="btn btn-outline-primary">
                                    <i class="fa-solid fa-circle-check"></i> Guardar
                                </button>
                            </div>
                        </div>


                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- end cart -->


<script>
    function Cancelar() {
        swal
            (
                {
                    title: "Registro de Matricula",
                    text: "¿Está seguro que desea cancelar La matricula?",
                    icon: "warning",
                    buttons:
                    {
                        cancel: "No",
                        default: "Sí"
                    },
                    dangerMode: true
                }
            ).then
            (
                (cancelar) => {
                    if (cancelar) {
                        location.reload();
                    }
                }
            );
    }
</script>






<!-- Borardor-->
@*<thead class="cart-table-head">
                <tr class="table-head-row">
                    <th class="product-remove"></th>
                    <th class="product-image">Imagen del producto</th>
                    <th class="product-name">Nombre</th>
                    <th class="product-price">Precio</th>
                    <th class="product-quantity">Cantidad</th>
                    <th class="product-total">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-body-row">
                    <td class="product-remove"><a href="#"><i class="far fa-window-close"></i></a></td>
                    <td class="product-image"><img src="~/img/productos/cepillo-doble.jpg" alt=""></td>
                    <td class="product-name">cepillo doble</td>
                    <td class="product-price">₡25.000</td>
                    <td class="product-quantity"><input type="number" placeholder="0"></td>
                    <td class="product-total">1</td>
                </tr>
                <tr class="table-body-row">
                    <td class="product-remove"><a href="#"><i class="far fa-window-close"></i></a></td>
                    <td class="product-image"><img src="~/img/productos/bolso-para-grooming.jpg" alt=""></td>
                    <td class="product-name">bolso para grooming</td>
                    <td class="product-price">₡25.000</td>
                    <td class="product-quantity"><input type="number" placeholder="0"></td>
                    <td class="product-total">1</td>
                </tr>
                <tr class="table-body-row">
                    <td class="product-remove"><a href="#"><i class="far fa-window-close"></i></a></td>
                    <td class="product-image"><img src="~/img/productos/mini-biscuit-pedigree.jpg" alt=""></td>
                    <td class="product-name">mini biscuit pedigree</td>
                    <td class="product-price">₡25.000</td>
                    <td class="product-quantity"><input type="number" placeholder="0"></td>
                    <td class="product-total">1</td>
                </tr>
            </tbody>
        </table>
    </div>
            </div>

            <div class="col-lg-4">
                <div class="total-section">
                    <table class="total-table">
                        <thead class="total-table-head">
                            <tr class="table-total-row">
                                <th>Total</th>
                                <th>Precio</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="total-data">
                                <td><strong>Subtotal: </strong></td>
                                <td>₡75.000</td>
                            </tr>
                            <tr class="total-data">
                                <td><strong>Envío: </strong></td>
                                <td>₡0</td>
                            </tr>
                            <tr class="total-data">
                                <td><strong>Total: </strong></td>
                                <td>₡75.000</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="cart-buttons">
                        <a href="#" class="boxed-btn">Vaciar Carrito</a>
                        <a href="#" class="boxed-btn black">Finalizar Compra</a>
                    </div>
                </div>
            </div>*@


@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cursos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorreoElectronico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorreoElectronico)
            </th>
            <th></th>
        </tr>
    </thead>*@
@*<tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.User)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Product)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subtotal)
                </td>

            </tr>
        }
    </tbody>*@
