@model IEnumerable<ShoppingCart>
﻿@using System.Security.Claims
@{
    ViewBag.Title = "Carrito";
}

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Ya casi finalizas</p>
                    <h1>Carrito</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->
<!-- cart -->
<form method="post">
    <div class="cart-section mt-150 mb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <div class="cart-table-wrap">
                        <table class="cart-table">
                            <thead class="cart-table-head">
                                <tr class="table-head-row">
                                    <th class="product-remove"></th>
                                    <th class="product-Carrito">Carrito</th>
                                    <th class="product-Cliente">Cliente</th>
                                    <th class="product-Producto">Producto</th>
                                    <th class="product-Descripcion">Descripcion</th>
                                    <th class="product-price">Precio</th>
                                    <th class="product-quantity">Cantidad</th>
                                    <th class="product-total">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr class="table-body-row">
                                    <td class="product-remove">
                                        <button class="btn btn-warning"
                                                asp-action="EliminarProductosShopingCart"
                                                asp-route-Userid="@item.UserId"
                                                asp-route-count="@item.Count"
                                                asp-route-ProductoID="@item.ProductId">
                                            <i class="fa-solid fa-circle-xmark"></i> Eliminar
                                        </button>
                                    </td>
                                    <td class="product-Carrito">@item.Id</td>
                                    <td class="product-Cliente">@item.User.Name</td>
                                    <td class="product-Producto">@item.Product.Name</td>
                                    <td class="product-Descripcion">@item.Product.Description</td>
                                    <td class="product-price">₡@item.Product.Price</td>
                                    <td class="product-quantity">@item.Count</td>
                                    <td class="product-total">₡@item.Subtotal</td> 
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="total-section">
                        <table class="total-table">
                            <thead class="total-table-head">
                                <tr class="table-total-row">
                                    <th>Total</th>
                                    <th>Precio</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="total-data">
                                        <td><strong>Subtotal: </strong></td>
                                        <td>₡@item.Subtotal</td>
                                    </tr>
                                    @*                                <tr class="total-data">
                                <td><strong>Envío: </strong></td>
                                <td>₡0</td>
                                </tr>*@
                          @*          <tr class="total-data">
                                        <td><strong>Total: </strong></td>
                                        <td>₡</td>
                                    </tr>*@
                                }                 
                            </tbody>
                        </table>
                        <div class="cart-buttons">
@*                            <a href="#" class="boxed-btn">Vaciar Carrito</a>
*@                            <button href="#" class="boxed-btn black">Finalizar Compra</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
	<!-- end cart -->