@model IEnumerable<ShoppingCart>


@{
    ViewBag.Title = "Carrito";
}
<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Ya casi finalizas</p>
                    <h1>Carrito</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->

<div style="width:55%">
    <form method="post">
        <div class="product-section mt-150 mb-150">
            <div class="container-fluid">
                <div class="dt-responsive table-responsive">
                    <table id="footer-search" class="table table-striped table-bordered nowrap" width="50%">

                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Id)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.User)
                                </th>
                                <th class="form-group col-md-3">
                                    @Html.DisplayNameFor(model => model.Product)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.Count)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Subtotal)
                                </th>

                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.User.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Product.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Count)

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Subtotal)
                                    </td>
                                    <td>


                                        <div class="form-group col-md-12 text-right">
                                            <button asp-action="EliminarProductosShopingCart" asp-route-id="@item.Id, @item.Count, @item.Product.ProductId" type="button"
                                                    class="btn btn-outline-danger" style="border-radius:30%">
                                                <i class="fa-solid fa-circle-xmark"></i> Borrar
                                            </button>
                                            <button asp-action="Upsert" class="btn btn-outline-info" style="border-radius:30%">
                                                <i class="fa-solid fa-circle-check"></i> Modificar
                                            </button>
                                        </div>

                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>
@*asp-route-id="@item.Id, @item.count, @item.Product.Id"*@